
body{
  margin: 0px;
  

}
/*font syles start here*/

/*font syles end here*/
.navbar{
  width: 100%;
  height:50px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:right;
  gap: 10px;
  
}

.background{
 
  background-image: url(https://images3.alphacoders.com/109/1097928.jpg);
 background-size:cover;
 
  background-repeat: no-repeat;
}
.navbar-title{
  margin-right: auto;
  margin-left: 20px;
  color: rgb(255, 255, 255);
  padding-top: 20px;
}

.para{
  margin-right: 10px;
  font-size: large;
  color: rgb(255, 255, 255);
  font-size: 25px;
}
p{
  margin-left: 10px;
  font-size: large;
  font-style: none;
  color: black;
  
}

.content {
  text-align: left;
  font-size: 60px;
  color: #f01616e3;
  margin-top: 200px;
  margin-left: 100px;

}

.landing_para p{
  text-align: left;
 font-size: 28px;
  color: rgb(247, 245, 245);
  
  margin-left: 100px;
  width: 600px;
  height: 400px;
 
}

.explore-button {
  width: 40%;
  height: 40px;
  cursor:pointer;
  background-color: rgb(228, 62, 20);
  border: none;
  border-radius: 10px;
  transition: 0.3s;
font-size: 18px;
text-decoration: none;
font-style: none;
color: white;
}

a{
  color: white;
 font-weight: bolder;
  font-size: 25px;
  text-decoration: none;
}
.explore-button:hover{
  box-shadow: 0px 4px 10px rgb(240, 134, 72);
}


/* Image container styles */
.image-container {
  margin-top: 50px;
  margin-left: 80px;
  font-weight: bold;
  font-size: 25px;
}
.image-container h2 {
  color:rgb(228, 62, 20); 
}
.food-options {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
 row-gap: 30px;
}
.food-options img {
  width: 200px;
  height: 150px;
  border-radius: 10px;
    transition: transform 0.3s;
}
.img-hover:hover img{
  transform: scale(1.05);

  box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
}


/* Footer styles */
footer {
  background-color: rgb(240, 160, 95);
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
}