.navbar{
  width: 100%;
  height:50px;

  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:right;
  gap: 10px;
}
.navbar-title{
  margin-right: auto;
  margin-left: 30px;
  font-style: normal;
  color: rgb(255, 255, 255);
  
}
a{
  color: rgb(255, 255, 255);
 font-weight: bolder;
  font-size: 25px;
  text-decoration: none;
}
.a:hover{
  color: #eb300f;
}
.login-button{
  color: #e43500;
}

.signup-link{
  color: rgb(236, 135, 2);
  font-weight: bolder;
  text-decoration: none;
}
body{
 
  background-image: url("https://images.squarespace-cdn.com/content/v1/5c7d940bf8135a76373c5a72/1552921693898-RXESY55ABXYHVY176YXQ/iStock-956046222.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.para{
  margin-right: 10px;
  font-size: large;
}

p{
  margin-left: 10px;
  font-size: large;
  font-style: none;
 
}


.login_content{
  
  width: 400px;
  height: 250px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  background-color: #ecdbcc;
    display: block;
  margin-top: 200px;
  
}
input{
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label{
  font-size: large;

}

button{
  width: 90%;
  height: 30px;
  cursor: pointer;
  background-color: #ec9a48;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  transition: 0.3s;
}
button:hover{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
 
}
button:active{
  background-color: #dfa66d;
 
}