body{
 margin:0px;
 background-color: rgb(236, 238, 240);

}
.navbar{
  width: 100%;
  height:50px;

  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:right;
  gap: 10px;
}
.navbar-title{
  margin-right: auto;
  margin-left: 30px;
  font-style: normal;
  color: rgb(255, 255, 255);
  
}


.main-background{
  background-image: url(https://wallpaperbat.com/img/56280791-food-4k-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 700px;

}
a{
  color: rgb(255, 255, 255);
 font-weight: bolder;
  font-size: 25px;
  text-decoration: none;
  margin-top: 20px;
}

.para{
  margin-right: 10px;
  font-size: large;
  color: rgb(255, 255, 255);
}
p{
  margin-left: 10px;
  font-size: large;
  font-style: none;
  color: rgb(10, 1, 1);
  
}
.para1{
  margin-left: 10px;
  font-size: large;
  font-style: none;
  color: rgb(255, 255, 255);
}

/* food items section */
.food-options {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
 row-gap: 30px;
}
.food-options img {
  width: 200px;
  height: 150px;
  border-radius: 10px;
    transition: transform 0.3s;
}
.img-hover:hover img{
  transform: scale(1.05);

  box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
}

.image-container {
  margin-top: 50px;
  margin-left: 80px;
  font-weight: bold;
  font-size: 25px;
}
.image-container h2 {
  color:rgb(228, 62, 20); 
}
footer {
  background-color: rgb(240, 160, 95);
  text-align: left;
  padding-left:40px;
  padding: 10px 0;
  margin-top: 50px;
}